body{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#all_page{
    width: 90%;
    margin: auto;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}

#project_page{
    width: 1000px;
    height: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    left:50px;
    border: 1px solid black;

}
#project_page a{
    text-decoration: none;
    color: black;
}
#Project_page_head{
    width: 1000px;
    margin: auto;
    display: flex;
    gap:10px ;
    padding: 5px;
    justify-content: space-between;
}
#Project_page_head button{
    margin-top: 32px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: blue;
    border: 1px solid blue;
}
table,tr{
    border: 1px solid black;
    border-collapse: collapse;
}
 th, td {
  padding: 5px;
  font-size: 22px;
}
table{
    width: 100%;
    justify-content: space-around;
}

#heading_img{
    width: 170px;
    margin-left: 30%;
   
}


 #form_bar{
     width: 60%;
     margin: auto;
     margin-top: 80px;
     border: 5px solid black;
     display: none;
     background-color: aquamarine;
     position: absolute;
     top: -50px;
     left: 200px;
 }
 #form_bar h1{
     text-align: center;
     font-size: 28px;
 }
 input{
     margin:25px auto;
     display: block;
     width: 280px;
     height: 25px;
     text-align: center;
     font-size: 18px;
     border-radius: 10px;
     background-color: rgb(242,245,252);
 }
 #form_bar button{
     width: 120px;
     height: 45px;
     font-size: 20px;
     background-color: aquamarine;
     margin-left: 37%;
 }

tbody{
    text-align: center;
}
 @media(max-width:900px){
    #project_page{
        width: 500px;
        height: 500px;
        margin: auto;
        padding: 20px;
        margin-top: 50px;
        position: absolute;
        left:50px;
        border: 1px solid black;
    
    }
    #form_bar{
        width: 60%;
        margin: auto;
        margin-top: 80px;
        border: 1px solid black;
        display: none;
        background-color: aquamarine;
        position: absolute;
        top: -70px;
        left: 60px;
    }
    #form_bar h1{
        text-align: center;
        font-size: 28px;
    }
    input{
        margin:25px auto;
        display: block;
        width: 280px;
        height: 25px;
        text-align: center;
        font-size: 18px;
        border-radius: 10px;
        background-color: rgb(242,245,252);
    }
    #form_bar button{
        width: 120px;
        height: 45px;
        font-size: 20px;
        background-color: aquamarine;
        margin-left: 37%;
    }
    #Project_page_head button{
        margin-top: 12px;
        width: 120px;
        height: 40px;
        font-size: 17px;
        color: blue;
        border: 1px solid blue;
        margin-left: -260px;
    }
    Project_page_head{
        display: block;
    }
 }