body{
    width: 100%;
}
#all_page{
    width: 90%;
    margin: auto;
    display: flex;
}

#project_page{
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    left:50px;

}
#project_page a{
    text-decoration: none;
    color: black;
}
#Project_page_head{
    width: 1000px;
    margin: auto;
    display: flex;
    gap:30px ;
    padding: 5px;
    justify-content: space-between;
}
#Project_page_head button{
    margin-top: 32px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: blue;
    border: 1px solid blue;
}
#Project_page_head button:hover{
    background-color: blue;
    color: white;
}
table,tr{
    border: 1px solid black;
    border-collapse: collapse;
}
 th, td {
  padding: 10px;
  font-size: 22px;
}
table{
    width: 100%;
}