#sidebar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 15%;
    margin-left: 0px;
    display: block;
    gap: 25px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
}
#sidebar i,h3,h4,h2,img,button{
    cursor: pointer;
}
#sidebar h3{
    font-size: 18px;
}
#sidebar_head{
    display: flex;
    gap: 20px;
    
}
#sidebar_head button{
    width: 33px;
    height: 33px;
    margin-top: 8px;
    margin-left: 8px;
}
.sidebar_flex{
    display: flex;
    justify-content: space-around;
}

.sidebar_flex i{
    margin-top: 20px;
}
.sidebar_hide{
    display: none;
}

#sidebar_all_hide{
    display: none;
}

#sidebar_image{
    display: none;
}

.sidebar:hover .sidebar_hide{
    display: block;
}

#sidebar_all_hide i{
    margin-right: 10px;
}

#close{
    display: none;
}
#sidebar h3:hover{
    color: blue;

}
#sidebar h4:hover{
    color: blue;
}

#profile_img img{
    margin-top: 25px;
}