#footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin: 80px 75px;

}

#footer_main{

    width: 95%;
    margin: auto;
    margin-left: 5px;
display: grid;
grid-template-columns: repeat(4,1fr);
justify-content: space-around;
}
#footer_title{
    display: flex;
}
#footer_title>img{
    width: 50px;
    height: 50px;
    margin-top: 12px;
}
#footer_main h4:hover{
    text-decoration-line: underline;
    cursor: pointer;
}
#footer_main h3:hover{
    
    cursor: pointer;
    text-decoration-line: underline;
}
#footer_main i{
    font-size: 25px;
}
#footer_down{
    display: flex;
    gap: 300px;
    margin: 25px auto;
}
#footer_down_icon{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
#footer_down_icon i{
    font-size: 28px;
    margin-top: 15px;
}


@media(max-width:900px){
    #footer_main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
    #footer_down{
        display: flex;
        gap: 100px;
        margin: 25px auto;
    }
    #footer_down_icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content:space-between;
        gap: 20px;
    }
}