

#navbar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    
    position: fixed;
  
    top: 0%;
     background-color: white; 
  
}
#navbar a{
    text-decoration: none;
    color: black;
    z-index: 15%;
}
#navbar a:hover{
    color: blue;
}
#navbar1{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
#navbar1 h3:hover{
    color: blue;
    cursor: pointer;
}
#navbar1 h2:hover{
    color: blue;
    cursor: pointer;
}
#navbar1 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#navbar_left,#navbar_middle,#navbar_right{
    display: flex;
    gap: 25px;
}
#navbar_left button{
    margin-top: 14px;
    width: 50px;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
    background-color: transparent;
}
#navbar_left button:hover{
    background-color: teal;
}
#navbar_right button{
    margin-top: 14px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent ;
    border: 1px solid blue;
    color: blue;
}
#navbar_right button:hover{
    background-color: blue;
    color: white;
}

.dropdown_content{
    width: 90%;
    margin: auto;
    display: none ;
    position: absolute;
    left: 5%;
    z-index: 1;
}

.dropdown_content div{
    background-color: transparent;
    padding: 10px;
}


.dropdown:hover .dropdown_content{
width: 90%;
margin: auto;
   display:grid;
   grid-template-columns: repeat(5,1fr);
   justify-content: space-between;
   background-color: white;
    
}
.dropdown_content p{
    width: 75%;
}
.down{
    margin-top: 20px;
}
.up{
    margin-top: -10px;
}
.teal{
    color: teal;
    font-size: 22px;
}
.fa-solid,.fa-brands{
    margin-right: 10px;
}
#dropdown_button{
    display: none;

}
#dropdown_button button:hover{
    background-color: aquamarine;
}

#drop_button:hover #dropdown_button{
    display: block;
}

#drop_button:hover #dropdown_button button{
    display: block;
   
} 

#dropdown_button button {
    width: 130px;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid green;
}
.dropdown h3:hover{
  color: blue;
  cursor: pointer;
}

#menubar>i{
    display: none;
}



@media(max-width:900px){
  #navbar1,#navbar_left,#navbar_middle,#navbar_right{
    display: none;
  }
  #menubar{
    width: 23%;
    display: block;
    padding: 15px;
    padding-left: 20px;
  }
  #menubar:hover #navbar1{
    display: block;
  }
  .dropdown_content div{
    display: none;
  }
  #dropdown_button{
    display: none;
  }
  #drop_button:hover #dropdown_button{
    display: none;
}

#drop_button:hover #dropdown_button button{
    display: none;
   
} 

#menubar:hover #navbar1,#navbar_left,#navbar_middle,#navbar_right{
    display: block;
  }

  #menubar>i{
    display: block;
    font-size: 50px;
}

  #menubar:hover #navbar1 #navbar_left h2{
    display: none;
  }
  #menubar:hover #navbar1 #navbar_left img{
    display: none;

  }

}
